*BEGIN 0020
*CS UTM30N
*CS OUT UTM30N
*DECLINATION auto 454215 4794755 248

*INCLUDE LocaII_1
*INCLUDE LocaII_3

*INCLUDE LocaII_4
*INCLUDE LocaII_5
*INCLUDE LocaII_6
*INCLUDE LocaII_7

*INCLUDE LocaII_8

*INCLUDE 0020-2016s-01
*INCLUDE LocaII_9

*EQUATE LocaII_1.45 LocaII_3.6
*EQUATE LocaII_1.13 LocaII_3.7
*EQUATE LocaII_1.14 LocaII_3.16
*EQUATE LocaII_1.19 LocaII_3.12
*EQUATE LocaII_1.3 LocaII_4.7
*EQUATE LocaII_1.4 LocaII_4.22
*EQUATE LocaII_1.6 LocaII_5.2
*EQUATE LocaII_1.10 LocaII_5.11
*EQUATE LocaII_1.11 LocaII_5.12
*EQUATE LocaII_3.14 LocaII_5.25
*EQUATE LocaII_1.9 LocaII_5.7

*EQUATE LocaII_4.14 LocaII_6.18

*EQUATE LocaII_1.20 LocaII_7.14
*EQUATE LocaII_3.20 LocaII_7.30a

*EQUATE LocaII_1.11 LocaII_8.19
*EQUATE LocaII_7.33 LocaII_8.26

*EQUATE 0020-2016s-01.26 LocaII_1.0
*EQUATE 0020-2016s-01.0 LocaII_9.15

*END 0020