*BEGIN 0639_WALK
;Created from Survey file on Sun,20 Jun 2004.18:04:51
;Dates surveyed : 87/8
;Surveyors      : DH & JR
;No of stations : 14
;Plan length    : 302.588192m
;Traverse length: 310.39m

*FIX 0

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 4.97 degrees but should have been 4.96 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (nnn-mmm-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.41

0	1	30.00	133.53	-2	;*
1	2	7.04	41.03	5	;*
1	3	30.00	122.03	0	;*
3	4	22.20	104.03	1	;*
4	5	30.00	203.03	-21	;*
5	6	30.00	205.03	-20	;*
6	7	18.90	208.03	-19	;*
7	8	8.80	203.03	-34	;*
8	9	30.00	121.03	13	;*
9	10	30.00	107.53	9	;*
10	11	30.00	102.53	6	;*
11	12	30.00	105.03	3	;*
12	13	13.45	102.53	-6	;*
*END 0639_WALK
