*BEGIN 0649_649
;Created from Survey file on Sun,20 Jun 2004.18:06:11
;Dates surveyed : 87/8
;Surveyors      : JimD
;No of stations : 4
;Plan length    : 20.3101007m
;Traverse length: 25.6m

;*FIX 0 454857 4800147 0185
;*FIX 0 454755 4799938 0185; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 454755 4799938 0184
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 4.97 degrees but should have been 4.96 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (nnn-mmm-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.41

0	1	2.00	-	-V	;*
1	2	5.00	274.03	-70	;*
2	3	18.60	4.03	0	;*
*END 0649_649
