*BEGIN 3470

;*CALIBRATE DECLINATION 1.88
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.48; (1.88-0.4)

;surveyors: James Carlisle Jenny Corrin
;passage name:
*DATE 2010.08.19

;*FIX 1 448521 4800846 0142
;*FIX 1 448419 4800637 0142; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

;*FIX 1 448419 4800637 0138; Altered after Cuba Libre found 4182
*FIX 4182 448423 4800614 140
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*FLAGS SURFACE 
4182	TREE	1.38	336	0	
TREE	1	6.35	325	-22
*FLAGS NOT SURFACE 
*ENTRANCE 1
;*FLAGS duplicate | splay | surface

1	2	4.8	-	down
2	3	10.5	320	-36
3	4	6.75	320	43



*data passage station left right up down
2	.7	.4	7	1
3	0	.6	18	1
4	.2	1	3	1.5

*END 3470