*BEGIN 0689_Andando
;Created from Survey file on Sun,09 May 1999.19:28:40
;Dates surveyed : 910806&910807&910807
;Surveyors      : Steve Openshaw++
;No of stations : 9
;Plan length    : 19.2063516m
;Traverse length: 81.1m

;*FIX 0 454361 4799266 432
;*FIX 0 454259 4799057  432; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014
*FIX 0 454259 4799057 0426

*entrance 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 4.35 degrees but should have been 4.44 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (4.44-4.35-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.31

0	1	1.20	-	-V	;*
1	2	14.40	-	-V	;*
2	3	4.70	245.65	-48	;*
3	4	12.10	-	-V	;*
4	5	5.90	245.65	-10	;*
5	6	13.30	225.65	-51	;*
6	7	5.50	212.65	-70	;*
7	8	24.00	-	-V	;*
*END 0689_Andando
