*BEGIN 3222
*CS UTM30N
*CS OUT UTM30N
*DECLINATION AUTO 451133 4800764 0115
;*CALIBRATE DECLINATION 1.67
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

;*CALIBRATE DECLINATION 1.27; (1.67-0.4)
*DATE 2012.04.03
;*FIX 6 451234 4800983 118
;*FIX 6 451235 4800973 0114
;*FIX 6 451133 4800764 0114; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 6 451133 4800764 0115
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 6
*FLAGS SURFACE
0	1	7.53	52	4
1	2	13.85	55	5
3	2	7.15	255	-5
3	4	7.89	33	5
5	4	5.84	210	-9;	stn 5 - 1.5m above ground at tree next to 1801 entrance
1	6	6.01	316	4;	entrance to 3222
*FLAGS NOT SURFACE

6	1a	2.10	277	-7
1a	2a	6.08	-	down
*FLAGS DUPLICATE
3a	4a	1.89	236	-19
4a	2a	4.02	308	-10
2a	5a	5.68	293	0
5a	6a	1.90	287	-5
6a	7a	1.14	330	2; stn7a is stn 16 in Cueva Espada
*FLAGS NOT DUPLICATE

*data passage station left right up down
1	.3	.5	.2	.7
2	.4	.6	1	.2
*END 3222