*BEGIN 0517_XLs
;Created from Survey file on Mon,31 Mar 1997.21:27:07
;Dates surveyed : 970331
;Surveyors      : John Palmer
;No of stations : 20
;Plan length    : 26.8502577m
;Traverse length: 92.4m

;*FIX 0 453860 4794020 0368
;*FIX 0 453828 4794010 0370; 4/4/08
;*FIX 0 453726 4793801 0370; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 453726 4793801 0369
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 3.45 degrees but should have been 3.64 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (3.64-3.45-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.21

0	1	9.50	70.55	-44	;*
1	2	5.30	348.55	-52	;*
2	3	13.80	-	-V	;*
3	4	6.90	316.55	-25	;*
4	5	2.20	189.55	0	;*
5	6	8.00	-	-V	;*
6	7	7.30	-	-V	;*
7	8	5.30	209.55	0	;*
8	9	11.00	-	-V	;*
9	10	1.50	102.55	0	;*
10	11	8.10	-	-V	;*
11	12	1.50	199.55	0	;*
12	13	12.00	-	-V	;*
*END 0517_XLs
