*BEGIN 0081-13-09


*date 2013.07.30
;*CALIBRATE DECLINATION 1.5
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.1

;surveyors: Alasdair Neill, Carmen Smith.
;passage name: side passage near Southbound Passage
0	1	8.37	257	22
1	2	4.44	292	3
2	3	4.7	277	0
2	4	6.12	169	0



*data passage station left right up down

1	0	.6	1.9	2.1
2	.8	0	1.7	1.4
3	.3	.3	1.7	1.4

*data passage station left right up down
2	.8	0	1.7	1.4
4	.3	.3	1.7	1.4
*END 0081-13-09