*BEGIN 1930_033

;surveyors: Steve Openshaw Kev Millington
;passage name: Sandals Passage
;date: 31/7/04
*CALIBRATE declination 2.68
;declination is 2 41' (2.68) for 2004 changing by 8'E per year

0	1	6.1	216	-1; conts low bedding - dig
1	2	5	190	5
2	3	5.1	180	-20
3	4	4.1	139	-9; stn 40
*END	1930_033


