*begin 2595_Prize_Cock_Pot

;surveyors: Dave Garman Paul Dold Chris Agnew Tony Radmall (Badger)
;name: Prize Cock Pot
*DATE 2007.04.05
;*CALIBRATE DECLINATION 2.28
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.92; (2.32-0.4)

;*FIX 1 452276 4800512 0286
;*FIX 1 452174 4800303 0286; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 1 452174 4800303 0285
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*entrance 1

2	1	1.98	228	66;	1	0	1.7
3	2	7.5	-	+V;	.5	0
4	3	3.71	24	1;	1.2	1.2	4	3.9
4	5	3.9	-	-V
;chamber dimensions
;4	backwall	1.66

*end 2595_Prize_Cock_Pot
