*BEGIN 1292_cave
;Created from Survey file on Mon,10 May 1999.21:16:13
*DATE 1998.04.11
;Surveyors      : lm
;No of stations : 5
;Plan length    : 12.0991619m
;Traverse length: 12.2m

;*FIX 0 452330 4797850 0155
;*FIX 0 452228 4797641 0155; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 452228 4797641 0153
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*entrance 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 3.3 degrees but should have been 3.54 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (3.54-3.3-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.16

0	1	5.00	40.70	-6	;*
1	2	4.60	130.70	-10	;*
1	3	2.60	334.70	3	;*
*END 1292_cave
