*BEGIN 0071-13-07

;*CALIBRATE DECLINATION 1.5
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.1

*data normal from to compass clino tape
;surveyors: Adam Sharples, Darren Jarvis, Bill Smith, Francesca McDonald, Roxanne Ramsay, Michalangelo Topsomus, Lloyd Cawthorne
*date 2013.08.08

0	1	220        +01    04.18
1       2       289        +03    06.00
2       3       240        -15    06.00

0       billExplore        008    -14  06.40

0       a       151        -11    05.50
a       b       098        +10    04.28
b       c       083        +11    04.09
c       d       086        -12    05.54
d       e       124        -13    03.23

f       e       173        -14    03.40
f       g       026        -71    27.90

e       i       096        -15    09.39
i       j       152        +01.2  07.20
j       k       132        +34    05.89
k       l       198        -10    04.98
l       m       167        -16    10.28
m       n       169        +18    05.51
n       o       146        -08    07.93
o       p       154        +05    17.11
p       q       037        +13    01.20
q       r       127        -02.9  11.94
r       s       011        +05    03.21
s       t       094        +10    03.41
t       u       161        -30    04.25
u       v       154        -39    03.02
v       w       156        -20    02.30
w       x       192        +24    03.87

*data passage station left right up down

0     5     1.5     4       2
1     6     1.5     0       2
2     5     2       2       2
3     0.8   0       0       1

*data passage station left right up down

0     3     1.5     2       3
billExplore 1     1.5     0       1

*data passage station left right up down

0     5     1.5       7.5  4
a     1     0         0.5  0.5
b     1     1         0.5  1
c     1.5   1         1.5  1
d     2     2         1    1.5
e     3     1         4    0
i     3     1         4    0.5
j     1.5   0.5       1    0.2
k     7.5   2         7    3
l     3     1.5       1.5  0
m     4     4.5       1    0
n     2.5   1.5       5.5  0
o     4     0.5       0.5  1
p     3     0.5       1.5  0
q     3     0.5       0    1
r     2     1.5       1.5  0.5
s     3     0.5       2    1
t     4     0.5       2    2
u     7     2         0.1  0.9
v     6     0.8       0.4  0.1
w     9.5   0.5       0.5  3
x     3     5         4    5 ;I can't quite read the up and down on notes

*data passage station left right up down

e     2       1       0.5  1.5
f     9       0       4    4
g     0       0       4    4

*END 0071-13-07