*BEGIN 671

;surveyor: Pete Smith, 25/8/13
;estimated lengths, compass and clino
*DATE 2013.08.25

;*FIX 0 451722 4794738 455
;*FIX 0 451620 4794529  455; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 451620 4794529  445
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
;*CALIBRATE DECLINATION 1.49
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.09


0	1	12	188	-25
1	2	2	145	-40
2	3	4	178	-20
3	4	4.5	124	-28
4	5	5	167	-29
5	6	4.5	175	-19
6	7	10	296	-11
7	8	5	329	3
8	9	4	323	3
9	10	4	354	0
9	11	4	70	-65
11	12	9	357	1
12	13	7	2	3
13	14	3	10	14
14	15	8	349	5
15	16	6	351	8

*END 671
