*BEGIN 3451

;*CALIBRATE DECLINATION 1.63
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.22; (1.62-0.4)

;surveyors: John Clarke Chris Smith
;passage name:
*date 2012.08.23

;*FIX 31 451456 4801530 0185
;*FIX 31 451354 4801321 0185; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 31 451354 4801321 0188
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 31
;*FLAGS duplicate | splay | surface
0       1         8.3     324      -1
1       2         5.8     330      -1
2       3         3.2     284      -2
3       4         5.4     310      -2
4       5         4.2     290      -5
5       6         10.5    307      -5
6       7         4.8     287      -7
7       8         2.4     310      0
8       9         3       312      -7
9       10        1.4     255      -4
10      11        3.48    290      -7
11      12        5.03    192      -8
12      13        2.4     289      -45
13      14        1.6     185      0
14      15        1.6     280      10
15      16        1.8     203      45
16      17        2.3     187      30
17      18        2.5     250      30
18      19        1.9     210      0
19      20        1.6     -        up
20      21        3.6     197      -15
21      22        2.4     274      -20
22      23        2.6     210      30
23      24        1.7     234      0
24      25        1.4     -        down
25      26        2.4     202      35
26      27        3.2     130      -20
27      28        3.1     100      3
28      29        3       98       35
29      30        6.1     195      55
30      31        9.3     -        up

11      A         4.5     270      -12
A       B         3       347      12
B       C         4       24       32
C       D         6.3     23       -22
D       E         8.1     48       32

D       D1        5.8     272      -37
*FLAGS SPLAY
D1     X    30    351     5
*FLAGS NOT SPLAY

*data passage station left right up down
0     .8      .8      .5   .5
1     1.8     .5      .3   1
2     .8      .4      .4   1
3     .5      .5      .8   .8
4     .4      .7      .5   .6
5     .4      .4      .5   2.2
6     .6      0       .4   .6
7     .4      .4      .6   .7
8     .7      0       .4   .7
9     .3      .3   .6 .6
10    .4      .3   .7 .6
11    1.5     0    5.3  1.3
12    .6      .6   4.7  .8
13    .5      .5   1    .7
14    .5      .5   .6   .7
15    .5      .8   1.8  .7
16    .3      .3   .3   .3
17    .4      .4   .4   .3
18    .6      .6   .5   .5
19    .8      .8   1.8  .6
20    .6      .6   1    1.6
21    .6      .8   2.6  4.8
22    .5   .5   1  .6
23    .6   .6   .4 .4
24    1.6  2.1  .6 3.3
25    1.5  1.5  1.4   3.3
26    0    2    1.8   1.2
27    .8   .9   5.73  1.4
28    .5   .2   2.6   1
29    .5   .5   .5    .3
30    .9   .5   8.8   .5
31    .3   .3   0     9.3

*data passage station left right up down
11    1       0       5.3  1.3
A     0       .6      8.4  1
B     5.2     .8      3.5  1.3
C     .4      .4      2    1
D     .6      0       7.9  1.7
E     .5      .5      4.3  1.3


*END 3451