*BEGIN 0885_shaft
;Created from Survey file on Tue,28 Nov 1995.19:00:37
;Dates surveyed : 950418&950807
;Surveyors      : PE PSt+Ali+
;No of stations : 24
;Plan length    : 68.9338845m
;Traverse length: 130.2m

;*FIX 1995E.0 451387 4796757 0478
;*FIX 1995E.0 451285 4796548 0478; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 1995E.0 451285 4796548 0480
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*entrance 1995E.0

*BEGIN 1995E
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 3.75 degrees but should have been 3.99 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (3.99-3.75-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.16

0	1	5.80	24.25	-76	;*
1	2	2.20	296.25	-44	;*
2	3	2.10	358.25	-32	;*
3	4	10.40	348.25	-45	;*
4	5	10.50	306.25	-36	;*
5	6	5.60	330.25	-56	;*
6	7	18.90	-	-V	;poss parallel shaft as deep?
7	8	1.90	221.25	6	;*
8	9	7.90	-	-V	;*
9	10	3.70	104.25	-48	;*
10	11	5.40	46.25	-54	;*
11	12	13.80	89.25	-73	;*
12	13	8.10	111.25	-41	;*
*END 1995E

*EQUATE 1995E.13 1995S.13

*BEGIN 1995S
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 3.75 degrees but should have been 3.94 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (3.94-3.75-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.21

13	14	12.60	.25	-49	;*
14	15	2.30	6.25	-54	;*
15	16	1.40	51.25	-35	;*
16	17	3.30	346.25	-22	;*
17	18	14.30	348.25	-17	;marked 1
*END 1995S

*END 0885_shaft
