*BEGIN 0075-13-15
;surveyors Alasdair Neill

*DATE 2013.08.04
;*CALIBRATE DECLINATION 1.5
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.1
;MegaBAT DIG RESURVEY TO TOP OF PITCH
*FLAGS DUPLICATE
0	1	3.16	139.5	2
2	1	2.64	301	-9
3	2	1.9	293	-19
3	4	2.1	189	25
*FLAGS NOT DUPLICATE
5	4	8.5	49	-16
*FLAGS DUPLICATE
6	4	10.82	317.5	-12
6	7	1.4	239	15	;first bolt typex spot

*data passage station up down left right

0	1.9	1.2	2.3	.5
1	.63	.7	.5	.1
2	.4	.4	0	.3
3	.5	2.2	.7	.6
4	1	2.8	.4	1.2
5	.3	1	.8	.9

*data passage station up down left right
4	1	2.8	.4	1.2
6	.8	3.1	0.5	1.3
7	1	1.6	.7	2

*END 0075-13-15

