*BEGIN 0869_cave
;Created from Survey file on Mon,21 Jun 2004.22:10:38
*DATE 2001.04.13
;Surveyors      : TW
;No of stations : 5
;Plan length    : 16.3326847m
;Traverse length: 18.4m

;*FIX 0 453170 4798480 0245
;*FIX 0 453068 4798271 0245; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 453068 4798271 0242
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 2.85 degrees but should have been 3.11 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North.(3.11-2.85-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.14

0	1	1.50	-	-V	;stn3
1	2	10.70	60.15	-12	;*
2	3	3.70	41.15	-22	;*
3	4	2.50	356.15	-13	;soln chmbr
*END 0869_cave
