*BEGIN 9999-13-02

*CALIBRATE DECLINATION 1.5
; Using this format - *date 2011.02.21 - will allow line colour by date

;surveyors: 
;passage name: 
*date 2013.08.19

;*FLAGS duplicate | splay | surface



0	1	12	34	-3
1	2	6	176	-10



*data passage station left right up down 


*END 9999-13-02