*BEGIN 1719
;Created from Survey file on Sat,26 Jun 2004.10:27:08
*DATE 2002.03.26
;Surveyors      : PP
;No of stations : 10
;Plan length    : 9.17190875m
;Traverse length: 27.1m

;*FIX 0 451559 4794424 0538
;*FIX 0 451457 4794215 0538; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 451457 4794215 0539
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 2.7 degrees but should have been 2.98 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (2.98-2.7-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.12

0	1	8.20	-	-V	;*
1	2	9.00	-	-V	;stal chkd shft - no go
1	3	4.40	125.30	28	;rft to parll aven
3	4	5.50	156.30	16	;stn marked PP0
*END 1719
