*begin 3261-2017

;surveyed by Dave Milner, John Southworth, Bob Catley, Phil Goodwin Oct17
*data normal From To length bearing gradient
*CALIBRATE DECLINATION 0.45
*ENTRANCE 1A

*FLAGS SURFACE
 2   3  11.3 042  25; 2 is large rock outside between 2 entrances
*FLAGS NOT SURFACE

*FLAGS DUPLICATE
 3   4  4.93 035 -32; 3 is entrance to 3261
 4   5  1.0  000  90;
 5   6  4.95 024 -42;
*FLAGS NOT DUPLICATE
 6   7  3.93 254 -27;
 7   8  2.69 237  16;
 8   9  0.96 049   3;
 9  10  1.88 310 -45; 

*FLAGS SURFACE
 2  1A  4.65 112   1; 1A is entrance
*FLAGS NOT SURFACE
;Site 3261 new length = 106.4m
;Site 3915 Length 27m
 1A 2A  1.70 000 -90;
 2A 3A  2.48 233   0;
 3A 4A  3.12 130   0;
 4A 5A  5.00 139   0;
 5A 6A  7.85 178   0;
 6A 7A 6.83  172   7;

*end 3261-2017
