*begin 0504_carabion

;surveyors: Pete S Ian Ellis C
;name: carabion
;date 30 31 Jan 09

;*CALIBRATE DECLINATION 2.14
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.57; 1.97-0.4

;*FIX 36 0458970 4800730 18
;*FIX 36 458868 4800521 18; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 36 458868 4800521 20
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*entrance 36


33	34	7.9	94	7
34	35	14.9	95	4
35	36	11.4	106	1
36	37	5.4	7	3


*end 0504_carabion
