*BEGIN LocaII

*INCLUDE LocaII_1
*INCLUDE LocaII_3

*INCLUDE LocaII_4
*INCLUDE LocaII_5
*INCLUDE LocaII_6

*EQUATE LocaII_1.45 LocaII_3.6
*EQUATE LocaII_1.13 LocaII_3.7
*EQUATE LocaII_1.14 LocaII_3.16
*EQUATE LocaII_1.19 LocaII_3.12
*EQUATE LocaII_1.3 LocaII_4.7
*EQUATE LocaII_1.4 LocaII_4.22
*EQUATE LocaII_1.6 LocaII_5.2
*EQUATE LocaII_1.10 LocaII_5.11
*EQUATE LocaII_1.11 LocaII_5.12
*EQUATE LocaII_3.14 LocaII_5.25
*EQUATE LocaII_1.9 LocaII_5.7
*EQUATE LocaII_4.15 LocaII_6.18


*END LocaII