*BEGIN 1931_GreenPepperCave
;Created from Survey file on Mon,08 Sep 2003.19:36:37
;Dates surveyed : 030808
;Surveyors      : Ali
;No of stations : 6
;Plan length    : 28.0363974m
;Traverse length: 28.9m

;*FIX 0 448580 4797920 0205
;*FIX 0 448478 4797711 0205; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 448478 4797711 0220
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
0	1	4.50	114.45	-33	;*
1	2	5.70	130.45	-1	;*
2	3	6.20	122.45	4	;*
3	4	12.50	255.45	8	;*
*END 1931_GreenPepperCave
