*BEGIN 0052_Musa
;Created from Survey file on Sun,09 May 1999.12:36:12
;Dates surveyed : 750700
;Surveyors      : Lank
;No of stations : 10
;Plan length    : 193.338962m
;Traverse length: 211m

;whole published survey wrong - see french survey
;This version has compass +180 (incl stays the same). This appears correct.

;*FIX 0 451408 4793615 0560
;*FIX 0 451306 4793406 0560; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.4

*FIX 0 451306 4793406 0560
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude agrees with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


0	1	7.50	-	-V	;*
1	2	24.40	134.75	11	;incl correct?
2	3	7.50	351.25	-2	;*
3	4	24.30	329.25	-22	;*
4	5	30.00	275.25	-20	;*
5	6	34.00	347.75	23	;*
5	7	30.00	34.75	-15	;*
7	8	28.50	281.25	-10	;*
8	9	24.80	287.25	-23	;*
*END 0052_Musa