*BEGIN 4043-14-11

;Oxbow at Yeso pendant
*TEAM "Alasdair Neill" ferret
*TEAM "Juan Corrin" notes
*TEAM "James Carlisle" laser-length compass clino

*date 2014.07.24
;*FLAGS duplicate | splay | surface
;Bosch Laser measure used

*DATA NORMAL from to tape compass clino
*CALIBRATE DECLINATION 0.97
;1.37 for 2014 summer altered to 0.97 to align with the UTM ETRS89 grid
0    1   8.8  145    14
2     1  11.39       240      4
2     3  .51         -        down

*data passage station left right up down
0     5.77    6.1     2.4  1
1     2.2     1.5     .7   1.4
2     0       2       .7   1.4
3     1.2     2.2     .9   .5
*END 4043-14-11