*BEGIN 4043-15-06
;passages beyond upstream duck

*date 2015.08.04
*TEAM  "Alasdair Neill" notes "James Carlisle" "Raoul Hidalgo Charman" compass clino disto
*DATA NORMAL from to tape compass clino

*CALIBRATE DECLINATION 0.73

13	14	7.41	20	1
14	15	8.94	30	-1
15	16	6.56	265	-8
16	17	7.13	277	5

*data passage station left right up down
13	0	2.1	1.1	1.7
14	.7	.7	2.3	1.2
15	1.3	2.8	.8	.6
16	.8	2.6	1.8	3.3
*END 4043-15-06