*BEGIN 4043-14-10

;Oxbow

*TEAM "Alasdair Neill" laser-length compass clino notes


*date 2014.07.24
;*FLAGS duplicate | splay | surface
;Bosch Laser measure used

*DATA NORMAL from to tape compass clino
*CALIBRATE DECLINATION 0.97
;1.37 for 2014 summer altered to 0.97 to align with the UTM ETRS89 grid
*flags duplicate
1	0	8.39	119	2
*flags not duplicate
1	2	13.62	220	0
3	2	6.22	303	-3

*data passage station left right up down
1	1.7	1.2	0.8	0.5
2	1.3	0.6	0.6	0
3	1.6	1.4	0.6	0.6
*END 4043-14-10