*BEGIN 2889_13_10
;*CALIBRATE DECLINATION 1.5
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.1; (1.5-0.4)
*DATE 2013.08.09
;surveyors James Carlisle  Tony Rooke

2          1     4         35   -47
1          0     5         -    down
2          3     .98       112  3
3          4     5.72      99   -26
4          5     6.21      45   -23



*data passage station left right up down
2     .5      1       2    1.5
1     1       .5      6    5

*data passage station left right up down
2     .5      1       2    1.5
3     .3      1.5     1.5  0
4     4.0     0       5    1.5



*END 2889_13_10
