*begin 1471_003

;Papa Noel. 30/5-2004. Torben Redder, Peter Nielsen & Jonas Binladen
;*CALIBRATE DECLINATION 2.4
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 2.29; (2.69-0.4)

*DATE 2004.06

0	1	2.8	310.00	19	;Start from STN 68
1	2	2.1	280.00	-43
2	3	4.9	7.00	2
3	4	1.8	335.00	10
4	5	5.0	283.00	-5	;is STN 74 Marked 14 April
*end 1471_003