*BEGIN 1166_Bacalao
;Created from Survey file on Wed,23 Jun 2004.19:19:20
*DATE 1996.08.03
;Surveyors      : SO+
;No of stations : 10
;Plan length    : 21.2649499m
;Traverse length: 40.2m

;*FIX 0 455330 4801130 0370
;*FIX 0 455228 4800921 0370; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 0 455228 4800921 0368
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 0
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Add correcting magnetic declination line so centre
; line surveys are aligned to Eur 79 grid rather than True North.
; Old magdev appears to be 3.6 degrees but should have been 3.79 to
; align to True North. This value is reduced by 0.4 degrees below
; to align to Eur79 Grid North. (3.79-3.6-0.4)
; +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION -0.21

0	1	5.80	-	-V	;*
1	2	9.60	87.40	-22	;entrance arch
2	3	9.50	40.40	-53	;descending rift
3	4	4.60	103.40	-55	;*
4	5	10.70	78.40	-68	;p down to mud floor
*END 1166_Bacalao
