*begin 2640

;surveyors: Lank Mills Harry Long Paul Gelling
;name: Violent Violet
*DATE 2007.04.06
;*CALIBRATE DECLINATION 2.28
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
; 11/12/13 - Adjust magnetic declination so centre line
; surveys are aligned to Eur 79 grid rather than True North.
; Applying correction of -0.4 to original magnetic readings in
; Survex aligns to Eur79 grid.
; ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*CALIBRATE DECLINATION 1.92; (2.32-0.4)

;*FIX 5 452004 4800451 0193
;*FIX 5 451902 4800242 0193; --- *FIX coordinates (usually entrances) changed to ETRS89 datum by applying x-102 and y-209 --- March 2014

*FIX 5 451902 4800242 0195
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
;Altitude altered to agree with new digital maps, March 2014
;+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*ENTRANCE 5

1	2	7.6	250	-9
2	3	4.7	257	10.5
3	4	.4	355	0
4	5	2.6	250	11

*end 2640
