*BEGIN 2741

;surveyors: Phil Papard 
;passage name: Skulls cave
;date:4 August 2007
*CALIBRATE declination 2.28
;declination is 2 41' (2.68) for 2004 changing by 8'E per year
;declination is 2.28 for 2007


0	1	8.53	182	-26; right side ent to back of cave
1	2	4.45	276	+7; small rift (aven)above
2	3	7.06	001	-9; rock at start of skull area
3	4	1.94	001	0; back of skull pocket
3	5	7.07	098	+26; left of ent
5	0	2.45	308	+20;

*END 2741